In [0]:
SELECT  i_item_id
        ,s_state
        ,grouping(s_state) g_state
        ,AVG(ss_quantity) agg1
        ,AVG(ss_list_price) agg2
        ,AVG(ss_coupon_amt) agg3
        ,AVG(ss_sales_price) agg4
FROM samples.tpcds_sf1000.store_sales
,       samples.tpcds_sf1000.customer_demographics
,       samples.tpcds_sf1000.date_dim
,       samples.tpcds_sf1000.store
,       samples.tpcds_sf1000.item
WHERE   ss_sold_date_sk = d_date_sk
AND     ss_item_sk = i_item_sk
AND     ss_store_sk = s_store_sk
AND     ss_cdemo_sk = cd_demo_sk
AND     cd_gender = 'M'
AND     cd_marital_status = 'W'
AND     cd_education_status = 'Unknown'
AND     d_year = 1999
AND     s_state IN ('MN','OH','AL','LA','NY','MI')
GROUP BY ROLLUP (i_item_id,s_state)
ORDER BY i_item_id,s_state
LIMIT   100
;