In [0]:
SET use_cached_result = false;
SELECT  *
FROM    (
            SELECT  AVG(ss_list_price) B1_LP
                    ,COUNT(ss_list_price) B1_CNT
                    ,COUNT(DISTINCT ss_list_price) B1_CNTD
            FROM workspace.tpcds_sf1000_iceberg.store_sales
            WHERE   ss_quantity BETWEEN 0 AND 5
            AND     (
                        ss_list_price BETWEEN 29 AND 29 + 10
                        OR      ss_coupon_amt BETWEEN 13391 AND 13391 + 1000
                        OR      ss_wholesale_cost BETWEEN 35 AND 35 + 20
            )
        ) B1
,       (
            SELECT  AVG(ss_list_price) B2_LP
                    ,COUNT(ss_list_price) B2_CNT
                    ,COUNT(DISTINCT ss_list_price) B2_CNTD
            FROM workspace.tpcds_sf1000_iceberg.store_sales
            WHERE   ss_quantity BETWEEN 6 AND 10
            AND     (
                        ss_list_price BETWEEN 31 AND 31 + 10
                        OR      ss_coupon_amt BETWEEN 1987 AND 1987 + 1000
                        OR      ss_wholesale_cost BETWEEN 50 AND 50 + 20
            )
        ) B2
,       (
            SELECT  AVG(ss_list_price) B3_LP
                    ,COUNT(ss_list_price) B3_CNT
                    ,COUNT(DISTINCT ss_list_price) B3_CNTD
            FROM workspace.tpcds_sf1000_iceberg.store_sales
            WHERE   ss_quantity BETWEEN 11 AND 15
            AND     (
                        ss_list_price BETWEEN 105 AND 105 + 10
                        OR      ss_coupon_amt BETWEEN 2772 AND 2772 + 1000
                        OR      ss_wholesale_cost BETWEEN 5 AND 5 + 20
            )
        ) B3
,       (
            SELECT  AVG(ss_list_price) B4_LP
                    ,COUNT(ss_list_price) B4_CNT
                    ,COUNT(DISTINCT ss_list_price) B4_CNTD
            FROM workspace.tpcds_sf1000_iceberg.store_sales
            WHERE   ss_quantity BETWEEN 16 AND 20
            AND     (
                        ss_list_price BETWEEN 76 AND 76 + 10
                        OR      ss_coupon_amt BETWEEN 11703 AND 11703 + 1000
                        OR      ss_wholesale_cost BETWEEN 40 AND 40 + 20
            )
        ) B4
,       (
            SELECT  AVG(ss_list_price) B5_LP
                    ,COUNT(ss_list_price) B5_CNT
                    ,COUNT(DISTINCT ss_list_price) B5_CNTD
            FROM workspace.tpcds_sf1000_iceberg.store_sales
            WHERE   ss_quantity BETWEEN 21 AND 25
            AND     (
                        ss_list_price BETWEEN 67 AND 67 + 10
                        OR      ss_coupon_amt BETWEEN 17431 AND 17431 + 1000
                        OR      ss_wholesale_cost BETWEEN 9 AND 9 + 20
            )
        ) B5
,       (
            SELECT  AVG(ss_list_price) B6_LP
                    ,COUNT(ss_list_price) B6_CNT
                    ,COUNT(DISTINCT ss_list_price) B6_CNTD
            FROM workspace.tpcds_sf1000_iceberg.store_sales
            WHERE   ss_quantity BETWEEN 26 AND 30
            AND     (
                        ss_list_price BETWEEN 129 AND 129 + 10
                        OR      ss_coupon_amt BETWEEN 13376 AND 13376 + 1000
                        OR      ss_wholesale_cost BETWEEN 26 AND 26 + 20
            )
        ) B6
LIMIT   100
;