In [0]:
SET use_cached_result = false;
WITH ss AS 
(
    SELECT  i_manufact_id
            ,SUM(ss_ext_sales_price) total_sales
    FROM workspace.tpcds_sf1000_iceberg.store_sales
    ,       workspace.tpcds_sf1000_iceberg.date_dim
    ,       workspace.tpcds_sf1000_iceberg.customer_address
    ,       workspace.tpcds_sf1000_iceberg.item
    WHERE   i_manufact_id IN (
                SELECT  i_manufact_id
                FROM workspace.tpcds_sf1000_iceberg.item
                WHERE   i_category IN ('Sports')
            ) 
    AND     ss_item_sk = i_item_sk
    AND     ss_sold_date_sk = d_date_sk
    AND     d_year = 1998
    AND     d_moy = 3
    AND     ss_addr_sk = ca_address_sk
    AND     ca_gmt_offset = -5
    GROUP BY i_manufact_id
)
,cs AS 
(
    SELECT  i_manufact_id
            ,SUM(cs_ext_sales_price) total_sales
    FROM workspace.tpcds_sf1000_iceberg.catalog_sales
    ,       workspace.tpcds_sf1000_iceberg.date_dim
    ,       workspace.tpcds_sf1000_iceberg.customer_address
    ,       workspace.tpcds_sf1000_iceberg.item
    WHERE   i_manufact_id IN (
                SELECT  i_manufact_id
                FROM workspace.tpcds_sf1000_iceberg.item
                WHERE   i_category IN ('Sports')
            ) 
    AND     cs_item_sk = i_item_sk
    AND     cs_sold_date_sk = d_date_sk
    AND     d_year = 1998
    AND     d_moy = 3
    AND     cs_bill_addr_sk = ca_address_sk
    AND     ca_gmt_offset = -5
    GROUP BY i_manufact_id
)
,ws AS 
(
    SELECT  i_manufact_id
            ,SUM(ws_ext_sales_price) total_sales
    FROM workspace.tpcds_sf1000_iceberg.web_sales
    ,       workspace.tpcds_sf1000_iceberg.date_dim
    ,       workspace.tpcds_sf1000_iceberg.customer_address
    ,       workspace.tpcds_sf1000_iceberg.item
    WHERE   i_manufact_id IN (
                SELECT  i_manufact_id
                FROM workspace.tpcds_sf1000_iceberg.item
                WHERE   i_category IN ('Sports')
            ) 
    AND     ws_item_sk = i_item_sk
    AND     ws_sold_date_sk = d_date_sk
    AND     d_year = 1998
    AND     d_moy = 3
    AND     ws_bill_addr_sk = ca_address_sk
    AND     ca_gmt_offset = -5
    GROUP BY i_manufact_id
)
SELECT  i_manufact_id
        ,SUM(total_sales) total_sales
FROM    (
            SELECT  *
            FROM ss
            UNION ALL
            SELECT  *
            FROM cs
            UNION ALL
            SELECT  *
            FROM ws
        ) tmp1
GROUP BY i_manufact_id
ORDER BY total_sales
LIMIT   100
;