In [0]:
SELECT  CASE    WHEN (
                            SELECT  COUNT(*)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 1 AND 20
                        )  > 1969109 THEN (
                            SELECT  AVG(ss_ext_discount_amt)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 1 AND 20
                        )  
                ELSE (
            SELECT  AVG(ss_net_paid)
            FROM workspace.tpcds_sf1000_iceberg.store_sales
            WHERE   ss_quantity BETWEEN 1 AND 20
        )  
        END bucket1
        ,CASE   WHEN (
                            SELECT  COUNT(*)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 21 AND 40
                        )  > 12549985 THEN (
                            SELECT  AVG(ss_ext_discount_amt)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 21 AND 40
                        )  
                ELSE (
                    SELECT  AVG(ss_net_paid)
                    FROM workspace.tpcds_sf1000_iceberg.store_sales
                    WHERE   ss_quantity BETWEEN 21 AND 40
                )  
        END bucket2
        ,CASE   WHEN (
                            SELECT  COUNT(*)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 41 AND 60
                        )  > 21926253 THEN (
                            SELECT  AVG(ss_ext_discount_amt)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 41 AND 60
                        )  
                ELSE (
                    SELECT  AVG(ss_net_paid)
                    FROM workspace.tpcds_sf1000_iceberg.store_sales
                    WHERE   ss_quantity BETWEEN 41 AND 60
                )  
        END bucket3
        ,CASE   WHEN (
                            SELECT  COUNT(*)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 61 AND 80
                        )  > 9763947 THEN (
                            SELECT  AVG(ss_ext_discount_amt)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 61 AND 80
                        )  
                ELSE (
                    SELECT  AVG(ss_net_paid)
                    FROM workspace.tpcds_sf1000_iceberg.store_sales
                    WHERE   ss_quantity BETWEEN 61 AND 80
                )  
        END bucket4
        ,CASE   WHEN (
                            SELECT  COUNT(*)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 81 AND 100
                        )  > 37034944 THEN (
                            SELECT  AVG(ss_ext_discount_amt)
                            FROM workspace.tpcds_sf1000_iceberg.store_sales
                            WHERE   ss_quantity BETWEEN 81 AND 100
                        )  
                ELSE (
                    SELECT  AVG(ss_net_paid)
                    FROM workspace.tpcds_sf1000_iceberg.store_sales
                    WHERE   ss_quantity BETWEEN 81 AND 100
                )  
        END bucket5
FROM workspace.tpcds_sf1000_iceberg.reason
WHERE   r_reason_sk = 1
;